body {
    background-color: #199ec7;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #123146;
    padding: 10px;
    color: #fff;
}

.off-screen-menu{
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    
}

.ham-menu {
 order: 1;
}

.menu-nav{
 order: 2;
}

.highlight-box {
    position: fixed;
    top: 30%;
    left: 10%;
    color: #fff;
    background-color: #123146; /* Light grey background */
    padding: 20px;
}


.main-footer {
    background-color: #123146;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
}
